<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Orders Admin Page</p>
    <ol>
    <% orders.forEach(order => { %>
        <li><%= order._id %> - <%= order.email %> - items(<%= order.cart.length %>) - <%= order.orderValue %> - <%= order.status %> - <a href="/orders/edit/<%= order._id %>">Edit</a></li>
    <% }) %>
    </ol>
</body>
</html>