<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
    <h1>Edit Product Form</h1>
    <form action="/products/<%= product._id %>/edit" method="POST">
        <p><input type="text" name="name" value="<%= product.name %>" placeholder="Product name"></p>
        <p><textarea name="description" placeholder="Product description"><%= product.description %></textarea></p>
    <p><input type="number" name="price" value="<%= product.price %>" placeholder="price"></p>
    <p><input type="text" name="imageurl" value="<%= product.imageurl %>" placeholder="Image Url"></p>
    <p><button>Submit</button></p>
    </form>
   
</body>
</html>