<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
    <div>Products Admin Page</div>
    <p>
        <a href="/products/add">Add Product</a>
    </p>
    <ol>
    <% products.forEach(product => { %>
<li><%= product.name %> - <%= product.description  %> - <%= product.price  %> - <%= product.imageurl  %>- <a href="/products/<%= product._id %>/edit">Edit</a>&nbsp;<a href="/products/<%= product._id %>/delete">Delete</a></li>
        <% }) %>
        </ol>
 
</body>
</html>